@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    color: #3F87F5;
}
.navbar-brand span{
    border-bottom: 1px solid #3F87F5;
    line-height: .4;
}
.nav-link{
    color: #141414;
    font-size: 16px;
    font-weight: 500;
}
.image-height{
    height: 100vh;
    object-fit:cover;
}
.card{
    border-radius: 25px;
}
.card-button{
    background-color: #ebebeb;
    color: #3F87F5;
    border-radius: 25px;
    font-weight: 500;
}
.custom-button{
    background-color: #3F87F5;
    color: #ffffff;
}
.card-title{
    color: #231D4F;
}
.fa-check-circle{
    color: #3F87F5;
}
.fa-plus-circle{
    color: #3F87F5;
}
.benefits span{
    font-size: 15px;
}
.hot-card{
    background-color: #3F87F5 ;
}
.hot-check{
    color: #b8c5ffd5;
}
.hot-card{
    transform: scale(1.1);
    color: #e9e9e9;
}
.hot-card h3{
    color: #e9e9e9;
}
.hot-card-button{
    background-color: #ececec;
    color: #3F87F5;
    border-radius: 25px;
    font-weight: 500;
}
.faq{
    background-color: #3f88f50c;
}






/* media query for style navbar for normal navbar in large device and offcanvas navbar for small devicer  */
@media screen  and (min-width:768px){
    .offcanvas-navi{
        display: none;
    }
    .carousel-caption{
        margin-top: -130px;
    }
}
@media screen  and (max-width:768px){
    .normal-navi{
        display: none;
    }
    .carousel-caption{
        margin-top: -150px;
    }
}
