@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* navbar style  */
.navbar-brand{
    color: #3F87F5;
}
.navbar-brand span{
    border-bottom: 1px solid #3F87F5;
    line-height: .4;
}
.nav-link{
    color: #141414;
    font-size: 16px;
    font-weight: 500;
}
/* slider image  */
.image-height{
    height: 100vh;
    object-fit:cover;
}
/* price cards style  */
.price-card{
    border-radius: 25px;
}
.price-card:hover{
    color: #ffffff;
    background-color: #3F87F5;
    transition: .3s ease-in-out;
    transform: scale(1.1);
}
.price-card:hover h3{
    color: #ffffff;
}
.price-card:hover .fa-check-circle{
    color: #ffffff;
}
.fa-check-circle{
    color: #3F87F5;
}
.card-button{
    background-color: #ebebeb;
    color: #3F87F5;
    border-radius: 25px;
    font-weight: 500;
}
.custom-button{
    background-color: #3F87F5;
    color: #ffffff;
}
.card-title{
    color: #231D4F;
}
.fa-plus-circle{
    color: #3F87F5;
}
.benefits span{
    font-size: 15px;
}
/* faq styles  */
.faq{
    background-color: #3f88f50c;
}
/* toast style  */
.toast:not(.show) {
    display: block;
  }
  /* footer style  */
  footer{
      height: 30vh;
  }
/* media query for style navbar for normal navbar in large device and offcanvas navbar for small devicer  */
@media screen  and (min-width:768px){
    .offcanvas-navi{
        display: none;
    }
    .carousel-caption{
        margin-top: -130px;
    }
}
@media screen  and (max-width:768px){
    .normal-navi{
        display: none;
    }
    .carousel-caption{
        margin-top: -150px;
    }
}
