@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    color: #1b41ff;
}
.nav-link{
    color: #141414;
    font-size: 16px;
    font-weight: 500;
}
.image-height{
    height: 100vh;
    object-fit:cover;
}
.card{
    border-radius: 25px;
}
.hot-card-button{
    background-color: #fff;
    color: #1b41ff;
    border-radius: 25px;
}
.hot-card{
    transform: scale(1.1);
}
.custom-button{
    background-image: linear-gradient(#1b41ff, #0066ff);
    color: #ffffff;
    border-radius: 25px;
}
.card-title{
    color: #231D4F;
}
.fa-check-circle{
    color: #5243c2be;
}
.hot-check{
    color: #a7a2e2d5;
}
.benefits span{
    font-size: 15px;
}
.hot-card{
    background-color: #3F87F5 ;
}









/* media query for style navbar for normal navbar in large device and offcanvas navbar for small devicer  */
@media screen  and (min-width:768px){
    .offcanvas-navi{
        display: none;
    }
    .carousel-caption{
        margin-top: -130px;
    }
}
@media screen  and (max-width:768px){
    .normal-navi{
        display: none;
    }
    .carousel-caption{
        margin-top: -150px;
    }
}
